body {
  box-sizing: border-box;
  font-family: "Montserrat";
  padding-left: 100px;
  font-weight: 400;
  overflow-x: hidden;
}

.display-wrap {
  display: block;
}

.flex-display {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.container {
  max-width: 1142px;
  margin: 0 auto;
}

.slider {
  width: 100%;
}

.section-grey {
  padding: 80px 0 81px 0;
  background-color: #f9f9f9;
}

.section-white {
  padding: 120px 0 120px 0;
  background-color: #ffffff;
}

.section-orange {
  background-color: #e3bf77;
  position: relative;
  height: 531px;

  &__text {
    max-width: 710px;
  }

  &__info {
    height: 531px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.slaider-events-img {
  margin: 0 30px 30px 0;
}

.swiper-slide-events {
}

.pagination-slider {
  position: relative;
  display: flex;
  min-width: 0;

  &__bottom {
    margin: 0 auto;
    position: absolute;
    bottom: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  &__block {
    cursor: pointer;
    transition: 0.2s;
    opacity: 50%;
  }

  &__block.active {
    opacity: 100%;
  }
  &__icon {
    margin: 10px 30px 16px 0px;
  }

  &__icon-last {
    margin: 10px 0px 16px 0px;
  }

  &__text {
    font-weight: 600;
    font-size: 14px;
    color: #ffffff;
  }
}

.active-a {
  opacity: 100%;
}

.bul {
  opacity: 100;
}

.m-swiper-button-prev {
  margin-top: 40px;
}

.slide {
  height: 100vh;

  &__background {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -1;
  }
}

.info-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;

  &__nav {
  }

  &__description {
  }
}

.slider-events {
  padding: 56px 0 40px 0;
  position: relative;
}

.pagination-stripe {
  position: relative;
}

.pagination-point {
}

.heading {
  position: absolute;
  z-index: 2;
  left: 100px;
  right: 0;

  &__left {
    display: flex;
    align-items: center;
  }

  &__center {
    position: absolute;
    left: 50%;
    top: 0px;
    margin-left: -100px;
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__contacts {
    margin-right: 54px;
  }

  &__wrapper {
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-top: 40px;
    margin-bottom: 30px;
    position: relative;
  }

  &__number {
    margin-bottom: 7px;
    display: block;
  }
}

.nav {
  &__point {
    margin-right: 74px;
    position: relative;
    cursor: pointer;
  }

  &__point::after {
    content: "";
    top: 5px;
    width: 3px;
    height: 3px;
    border-radius: 40%;
    background-color: rgb(255, 255, 255);
    opacity: 0.3;
    position: absolute;
    margin-left: 35px;
  }

  &__point:nth-child(9) {
    margin-right: 0px;
  }
  &__point:nth-child(4) {
    margin-right: 0px;
  }

  &__point:last-child:after {
    margin: 0px;
    width: 0px;
    height: 0px;
  }

  &__point:nth-child(4)::after {
    margin-left: 50px;
  }
}

.heading-2 {
  margin-top: 23px;
  margin-bottom: 45px;
}

.info {
  align-items: center;
  padding-top: 153px;
}

.working-hours {
  &__time {
    margin-right: 40px;
    margin-top: 5px;
  }
}

.menu {
  width: 100px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: 51;
  transition: 0.2s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.096);

  &:hover {
    fill: #ffffff;
    width: 300px;
  }

  &__text {
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    white-space: nowrap;
  }

  &__block {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #0b0b0b0d;
    fill: #e3bf77;
    cursor: pointer;
  }

  &__block:hover {
    display: flex;
    align-items: center;
    background-color: #e3bf77;
    fill: #ffffff;
    color: #ffffff;
  }
}

.card-room {
  width: calc(97% / 2);
  height: 320px;
  position: relative;
  margin: 0px 30px 30px 0;

  &__content {
    position: absolute;
    left: 40px;
    top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    margin: 0 40px 40px 0;
  }

  &__info {
  }

  &__img {
    border-radius: 4px;
    width: 100%;
    height: 100%;
  }
}

.block-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card-photo {
  position: relative;
  margin-right: 31px;

  &__content {
    position: absolute;
    left: 40px;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 267px;
    overflow: hidden;
  }

  &__img {
    border-radius: 4px;
    max-width: 359px;
    height: 295px;
  }
}

.block-card {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.card-room:nth-child(2n) {
  margin: 0px 0px 30px 0;
}

.block-title {
  background-color: rgb(227, 191, 119, 80%);
  padding: 7px 11px;
  display: inline-block;
}

.social {
  margin-top: auto;

  &__block {
    display: flex;
    align-items: center;
    margin: 0 0 20px 30px;
    cursor: pointer;
  }
}

.footer {
  &__top {
    padding: 34px 0 42px 0;
    display: flex;
  }
  &__logo {
    margin-right: 92px;
  }

  &__button {
    margin-right: 115px;
  }

  &__contacts {
    margin-right: 165px;
  }

  &__connection {
    max-width: 261px;
  }

  &__e-mail {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__send {
    cursor: pointer;
  }

  &__bottom {
    padding: 22px 0 21px 0;
  }

  &__bottom-info {
    display: flex;
    justify-content: space-between;
  }

  &__social {
    width: 129px;
    margin-top: 30px;
  }

  &__input-email {
    background-color: #b1aeae00;
    color: #ffffff;
  }
}

.button-arrows {
  margin-right: 20px;
  margin-top: 40px;
}

.ui-button {
  border-radius: 30px;
  padding: 16px 30px 16px 30px;
  border: 3px solid #ffffff;
  font-family: "Montserrat";
  align-items: center;
  font-size: 14px;
  font-weight: 700;

  &__white-border {
    border: 3px solid #ffffff;
  }

  &__white-border:hover {
    border: 3px solid #e3bf77;
    color: #e3bf77;
  }

  &--fill-golden {
    background-color: #e3bf77;
    border: 3px solid #e3bf77;
  }
  &--fill-golden:hover {
    background-color: #e3bf7700;
    border: 3px solid #e3bf77;
  }

  &--fill-white {
    background-color: #ffffff;
  }

  &--fill-white:hover {
    background-color: #e3bf77;
    color: #ffffff;
  }

  &--border-golden {
    border: 3px solid #e3bf77;
  }

  &--border-golden:hover {
    border: 3px solid #e3bf77;
    background-color: #e3bf77;
    color: #ffffff;
  }

  &--small {
    padding: 13px 30px 13px 30px;
  }
}

.button-area {
  padding-top: 40px;

  &__button {
    margin-right: 30px;
  }
}

.icon-3d {
  width: 35px;
  height: 19px;
  position: relative;
  margin-right: 31px;
  cursor: pointer;
}

.icon-chevror {
  width: 20px;
  height: 20px;
  top: -2px;
  cursor: pointer;
}

.icon-basket {
  position: relative;
  margin-right: 45px;
  cursor: pointer;

  &__namber {
    position: absolute;
    top: -8px;
    right: -7px;
    color: #ffffff;
    font-size: 12px;
    background-color: #e3bf77;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.icon-USD {
  height: 26px;
  width: 76px;
  cursor: pointer;
}

.deliveri-img {
  position: absolute;
  right: 0;
  top: 0;
}

.swiper-scrollbar-drag {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: #e3bf77;
  left: -1%;
  cursor: pointer;
}

.tabs {
  &__nav {
  }

  &__nav-btn {
    margin-right: 35px;
    color: #b1aeae;
    font-size: 16px;
    font-weight: 700;
  }

  &__nav-btn.active {
    color: #e3bf77;
  }
}

.slider-rooms {
  overflow: hidden;

  &__mask {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    transition: 0.2s;
  }

  &__slide {
    max-width: 1142px;
    max-height: 1371px;
    display: none;
  }

  &__slide.active {
    display: flex;
  }
}

.icon-line-slaider {
  margin: 14px 0 54px 0px;
}

.wrapper-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.395);
  border-radius: 5px;
}

.slider-events-img {
  width: 359px;
  height: 295px;
}

.call {
  cursor: pointer;
}

.hidden-menu-ticker {
  display: none;
}

.menu-adaptive {
  background-color: #ffffff;
  width: 400px;
  height: 100vh;
  padding: 80px 30px 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  list-style: none;
  margin: 0;
  top: 0;
  left: -400px;
  transition: left 0.2s;
  z-index: 10;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;

  /*&__button-cross {
    margin-bottom: 20px;
    width: 15px;
    height: 15px;
  }*/

  &__nav {
    margin-bottom: 20px;
    cursor: pointer;
  }

  &__icon {
    display: flex;
    max-width: 350px;
    justify-content: space-between;
  }

  &__line {
    width: 100%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.092);
    margin-bottom: 20px;
  }
}

@media (max-width: 1270px) {
  .container {
    padding: 0px 40px 0 40px;
  }

  .heading {
    left: 0;

    &__wrapper {
      justify-content: space-between;
      align-items: center;
      display: flex;
      margin-top: 60px;
      margin-bottom: 30px;
      position: relative;
    }

    &__center {
      position: absolute;
      left: 50%;
      top: -20px;
      margin-left: -100px;
    }

    &__contacts {
      display: none;
    }
  }

  .icon-USD {
    display: none;
  }

  .pagination-slider {
    &__block {
      display: none;
    }
  }

  .icon-3d {
    display: none;
  }

  .button-heading {
    display: none;
  }

  .nav {
    display: none;
  }

  .menu {
    display: none;
  }

  body {
    padding-left: 0px;
  }

  .menu-768 {
    position: absolute;
    top: 20px;
    left: 10px;
    cursor: pointer;
    transition: left 0.23s;
    z-index: 11;
    width: 30px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }

  .card-room {
    width: calc(91% / 2);

    &:nth-child(2n) {
      margin: 0px 30px 30px 0;
    }
  }

  .deliveri-img {
    display: none;
  }

  .footer {
    &__top {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__logo {
      margin-right: 0px;
      margin-bottom: 40px;
    }

    &__button {
      margin-right: 0px;
    }

    &__contacts {
      margin-right: 0px;
      margin-top: 20px;
    }

    &__connection {
      max-width: 260px;
      text-align: center;
    }

    &__e-mail {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 270px;
    }

    &__send {
      cursor: pointer;
    }

    &__bottom {
      padding: 22px 0 21px 0;
    }

    &__bottom-info {
      display: flex;
      justify-content: space-between;
    }

    &__social {
      width: 0px;
      display: flex;
      margin: 10px;
    }
  }

  .hidden-menu-ticker:checked ~ .menu-768 {
    left: 30px;
  }
  .hidden-menu-ticker:checked ~ .menu-adaptive {
    left: 0;
  }

  .hidden-menu-ticker:checked ~ .menu-768 img.open {
    display: none;
  }

  .hidden-menu-ticker:checked ~ .menu-768 img.close {
    margin-top: 10px;
    display: block;
    
  }

  .close {
    display: none;
  }

  .open {
    margin: 40px 0 0 40px;
  }
}

@media (min-width: 1271px) {
  .menu-768 {
    display: none;
  }

  .menu-adaptive {
    display: none;
  }
}
