body {
  box-sizing: border-box;
  font-family: "Montserrat";
  padding-left: 100px;
  font-weight: 400;
  overflow-x: hidden;
}

.display-wrap {
  display: block;
}

.flex-display {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.container {
  max-width: 1142px;
  margin: 0 auto;
}

.slider {
  width: 100%;
}

.section-white {
  padding: 120px 0 120px 0;
  background-color: #ffffff;
}

.section-orange {
  background-color: #e3bf77;
  position: relative;
  height: 531px;

  &__text {
    max-width: 710px;
  }

  &__info {
    height: 531px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.slaider-events-img {
  margin: 0 30px 30px 0;
}

.swiper-slide-events{
  
}

.pagination-slider {
  position: relative;
  display: flex;
  min-width: 0;

  &__bottom {
    margin: 0 auto;
    position: absolute;
    bottom: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  &__block {
    cursor: pointer;
    transition: 0.2s;
    opacity: 50%;
  }

  __block:hover {
    opacity: 100%;
  }

  &__icon {
    margin: 10px 30px 16px 0px;
  }

  &__icon-last {
    margin: 10px 0px 16px 0px;
  }

  &__text {
    font-weight: 600;
    font-size: 14px;
    color: #ffffff;
  }
}

.bul {
  opacity: 100;
}

.m-swiper-button-prev {
  margin-top: 40px;
}

.slide {
  height: 100vh;

  &__background {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -1;
  }
}

.info-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;

  &__nav {
  }

  &__description {
  }
}

.slider-events {
  padding: 56px 0 40px 0;
}

.pagination-stripe {
  position: relative;
}

.pagination-point {
  
  
}

.heading {
  position: absolute;
  z-index: 2;
  left: 100px;
  right: 0;

  &__left {
    display: flex;
  }

  &__center {
    position: absolute;
    left: 50%;
    top: -8px;
    margin-left: -100px;
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__contacts {
    margin-right: 54px;
  }

  &__wrapper {
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-top: 40px;
    margin-bottom: 30px;
    position: relative;
  }

  &__number {
    margin-bottom: 7px;
  }
}

.nav {
  &__point {
    margin-right: 74px;
    position: relative;
    cursor: pointer;
  }

  &__point::after {
    content: "";
    top: 5px;
    width: 3px;
    height: 3px;
    border-radius: 40%;
    background-color: rgb(255, 255, 255);
    opacity: 0.3;
    position: absolute;
    margin-left: 35px;
  }

  &__point:nth-child(9) {
    margin-right: 0px;
  }
  &__point:nth-child(4) {
    margin-right: 0px;
  }

  &__point:last-child:after {
    margin: 0px;
    width: 0px;
    height: 0px;
  }

  &__point:nth-child(4)::after {
    margin-left: 50px;
  }
}

.heading-2 {
  margin-top: 23px;
  margin-bottom: 45px;
}

.info {
  align-items: center;
  padding-top: 153px;
}

.working-hours {
  &__time {
    margin-right: 40px;
    margin-top: 5px;
  }
}

.menu {
  width: 100px;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: 2;

  &__side {
    cursor: pointer;
    
  }

  &__side svg:hover {
    fill: #ffffff;
  }

  &__text {
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    white-space: nowrap;
  }

  &__text:hover {
    color: #ffffff;
  }

  &__block {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #0b0b0b0d;
  }

  &__block:hover {
    display: flex;
    align-items: center;
    background-color: #e3bf77;
  }
}

.menu:hover {
  width: 300px;
  transition: 0.4s;
}

.card-room {
  max-width: 555px;
  height: 320px;
  position: relative;
  margin: 0px 30px 30px 0;

  &__content {
    position: absolute;
    left: 40px;
    top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    margin: 0 40px 40px 0;
  }

  &__info {
  }

  &__img {
    border-radius: 4px;
  }
}

.block-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.card-photo {
  max-width: 359px;
  height: 295px;
  position: relative;
  margin-right: 31px;

  &__content {
    position: absolute;
    left: 40px;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 267px;
    overflow: hidden;
  }

  &__img {
    border-radius: 4px;
  }
}

.block-card {
  display: flex;
  flex-wrap: wrap;
}

.card-room:nth-child(2n) {
  margin: 0px 0px 30px 0;
}

.block-title {
  background-color: rgb(227, 191, 119, 80%);
  padding: 7px 11px;
  display: inline-block;
}

.social {
  margin-top: auto;

  &__link {
    cursor: pointer;
  }
  &__block {
    display: flex;
    align-items: center;
    margin: 0 0 35px 30px;
  }
}

.footer {
  &__top {
    padding: 34px 0 42px 0;
  }
  &__logo {
    margin-right: 92px;
  }

  &__button {
    margin-right: 115px;
  }

  &__contacts {
    margin-right: 165px;
  }

  &__connection {
    max-width: 261px;
  }

  &__e-mail {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__send {
    cursor: pointer;
  }

  &__bottom {
    padding: 22px 0 21px 0;
  }

  &__bottom-info {
    display: flex;
    justify-content: space-between;
  }
}

.button-arrows {
  margin-right: 20px;
  margin-top: 40px;
}

.ui-button {
  border-radius: 30px;
  padding: 16px 30px 16px 30px;
  border: 3px solid #ffffff;
  font-family: "Montserrat";
  align-items: center;
  font-size: 14px;
  font-weight: 700;

  &--fill-golden {
    background-color: #e3bf77;
    border: 3px solid #e3bf77;
  }

  &--fill-white {
    background-color: #ffffff;
  }

  &--border-golden {
    border: 3px solid #e3bf77;
  }

  &--small {
    padding: 13px 30px 13px 30px;
  }
}

.button-area {
  padding-top: 40px;

  &__button {
    margin-right: 30px;
  }
}

.icon-3d {
  width: 35px;
  height: 19px;
  position: relative;
  margin-right: 31px;
}

.icon-chevror {
  width: 20px;
  height: 20px;
  top: -2px;
}

.icon-basket {
  position: relative;
  margin-right: 45px;

  &__namber {
    position: absolute;
    top: -8px;
    right: -7px;
    color: #ffffff;
    font-size: 12px;
    background-color: #e3bf77;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.icon-USD {
  height: 26px;
  width: 76px;
}

.deliveri-img {
  position: absolute;
  right: 0;
  top: 0;
}


