body {
  box-sizing: border-box;
  font-family: "Montserrat";
  padding-left: 100px;
}

.display-wrap {
  display: block;
}

.flex-display {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.container {
  max-width: 1142px;
  margin: 0 auto;
}

.background-slider {
  top: 0;
  width:100%;
  height:100%;
  position:absolute;
}

.slider {
  position: relative;
  padding-top: 300px;
}

.heading {
  position:absolute;
  z-index: 1;
  left: 100px;
  right: 0;
  
  &__left {
    display: flex;
  }

  &__center {
    position: absolute;
    left: 50%;
    top: -8px;
    margin-left: -100px;
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__contacts {
    margin-right: 54px;
  }

  &__wrapper {
    justify-content: space-between;
    align-items: center;
    display:flex;
    margin-top: 40px;
    margin-bottom: 30px;
    position: relative;
  }

  &__number {
    margin-bottom: 7px;
  }
}

.nav {
  &__point {
    margin-right: 74px;
    position: relative;
    cursor: pointer;
  }

  &__point::after {
    content: "";
    top: 5px;
    width: 3px;
    height: 3px;
    border-radius: 40%;
    background-color: rgb(255, 255, 255);
    opacity: 0.3;
    position: absolute;
    margin-left: 35px;
  }

  &__point:nth-child(9) {
    margin-right: 0px;
  }
  &__point:nth-child(4) {
    margin-right: 0px;
  }

  &__point:last-child:after {
    margin: 0px;
    width: 0px;
    height: 0px;
  }

  &__point:nth-child(4)::after {
    margin-left: 50px;
  }
}

.text {
  color: #ffffff;

  &__12-400 {
    font-weight:400;
    font-size: 12px;
    color: #ffffff;
  }

  &__12-700 {
    font-weight: 700;
    font-size: 12px;
    color: #ffffff84;
  }

  &__12-600 {
    font-weight: 600;
    font-size: 12px;
    color: #ffffff;
  }

  &__14-400 {
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
  }

  &__14-600 {
    font-weight: 600;
    font-size: 14px;
    color: #ffffff;
  }

  &__16-600 {
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
  }

  &__16-400 {
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
  }

  &__20-400 {
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
  }

  &__56-700 {
    font-weight: 700;
    font-size: 56px;
    color: #ffffff;
  }
}

.H2 {
  margin-top: 23px;
  margin-bottom: 45px;
}

.info {
  align-items: center;
  padding-top: 153px;
}

.working-hours {
  &__time {
    margin-right: 40px;
    margin-top: 5px;
  }
}

.menu {
  width: 100px;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  position: fixed;
  flex-direction: column;
  margin-left: -100px;

  &__side {
    cursor: pointer;
    border-bottom: 2px solid #0b0b0b0d;
  }
}

.social {
  margin-top: 0 auto;

  &__link {
    margin: 0px 30px 10px 30px;
    cursor: pointer;
    margin-top: 0 auto;
  }
}

.button-arrows {
  margin-right: 20px;
  margin-top: 40px;
}

.ui-button {
  border-radius: 30px;
  padding: 16px 30px 16px 30px;
  border: 2px solid #ffffff;
  font-family: "Montserrat";
  align-items: center;

  &--fill-golden {
    background-color: #e3bf77;
    border: 2px solid #e3bf77;
  }

  &--fill-white {
    background-color: #ffffff;
  }

  &--border-golden{
    border: 2px solid #e3bf77;
  }

  &--small {
    padding: 13px 30px 13px 30px;
  }
}

.button-area {
  padding-top: 40px;

  &__button {
    margin-right: 30px;
  }
}

.icon-3d {
  width: 35px;
  height: 19px;
  position: relative;
  margin-right: 31px;
}

.icon-chevror {
  width: 20px;
  height: 20px;
  top: -2px;
}

.icon-basket {
  position: relative;
  margin-right: 45px;

  &__namber {
    position: absolute;
    top: -8px;
    right: -7px;
    color: #ffffff;
    font-size: 12px;
    background-color: #e3bf77;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.icon-USD {
  height: 26px;
  width: 76px;
}
