body {
  box-sizing: border-box;
  font-family: "Montserrat";
  background:#524B43;
  margin: 0px;
  
}

.container {
  max-width: 1142px;
  margin: 0 auto;
  margin-top: 40px;
}

.heading {
  margin-bottom: 45px;
}

.icon-USD {
  height: 26px;
  width: 76px;
  margin-right: 180px;
}

.flex-display {
  display: flex;
  
}

.text-12-R {
  font-weight: 400;
  font-size: 12px;
}

.text-12-B {
  font-weight: 700;
  font-size: 12px;
}

.text-12-SB {
  font-weight: 600;
  font-size: 12px;
}

.text-14-R {
  font-weight: 400;
  font-size: 14px;
  color: rgb(255, 255, 255);
}
.text-14-SB {
  font-weight: 600;
  font-size: 14px;
  color: rgb(255, 255, 255);
}

.text-16-SB {
  font-weight: 600;
  font-size: 16px;
 
}

.menu {
  &__point {
    margin-right: 72px;
    position: relative;
  }

  &__point::after {
    content: "";
    top: 10px;
    width: 3px;
    height: 3px;
    border-radius: 40%;
    background-color: rgb(255, 255, 255);
    opacity: .3;
    position: absolute;
    margin-left: 36px ;
  }

  &__point:nth-child(8){
   margin:0px;
  }

  &__point:last-child:after{
    margin:0px;
    width: 0px;
    height: 0px;
   }
}

.contacts{
 margin-right: 54px;
 
 &__number {
  color:rgb(255, 255, 255);
  margin-bottom: 7px;
}
}

.img-logo {
  width: 201px;
  height: 55.5px;
  margin-right: 189px;
}

.icon-3d {
  padding-top: 18px;
  width: 35px;
  height: 19px;
  margin-right: 31.28px;
}

.icon-basket{
  padding-top: 9px;
  width: 27.72px;
  height: 27.54px;
  position: absolute;
}

.basket {
  padding-top: 9px;
  width: 27.72px;
  height: 27.54px;
  margin-right: 45px;
  
  &__icon{
  width: 18.44;
  height: 18.54px;
  }

  &__namber{
  color: aliceblue;
  background-color: #E3BF77;
  border-radius: 50%;
  width: 17px;
  height: 17px;

  }

}

.ui-button {
  border-radius: 30px;
}

.button-heading{
  width: 177px;
  height: 44px;
  border-color: #E3BF77;
  background-color: #ffffff00;
  
  }

